
<div class="row">

  <input type="file" class="btn btn-success" id="fileSelect"> (Possible file formats: PDF, PNG, JPG,...) (Privacy: The files are NEVER sent to our server, they are processed locally!)

</div>

<div class="row">
    <canvas height="500" width="1000" id="overlayCanvas"></canvas>

</div>

<div class="row">


  <button ng-repeat="item in overlay.items"  ng-click="clickToOpen(item)" class="btn btn-default">{{item.label}}</button>



</div>

<div class="row">

  <ui-codemirror id="latex" ui-codemirror-opts="editorOptions" ng-model="latex.code"
                 ng-change="parseLatexCode(); redrawOverlays();"></ui-codemirror>

</div>

<canvas ng-hide="1==1" id="offscreenCanvas"></canvas>
