<div class="container text-center">

  <h1>Annotate LaTeX Figures with LaTeX Code!</h1>
  <h4>Visual Overlay Generator v0.0.1</h4>
  <br/>
  <center>
    <small>
      Recommended File Formats: PDF or PNG
    </small>
    <br/>
    <input data-toggle="tooltip" data-placement="left"
           title="We respect your privacy: The files are NEVER sent to our server, they are processed locally!"
           type="file" class="btn btn-success" id="fileSelect"><br/>
  </center>

</div>

<div class="container" ng-hide="selectedItem.label === undefined">

  <div class="bs-callout bs-callout-primary">
    <h4>Overlay: <a editable-text="selectedItem.label" onaftersave="createLatexCode(); redrawOverlays();">{{
      selectedItem.label || "n/a" }}</a><br/><br/></h4>

    <strong>Label Position: </strong>

    <div ng-controller="RadiolistCtrl">
      <a href="#" onaftersave="changeLabelPosition(selectedItem); createLatexCode(); redrawOverlays();"
         editable-radiolist="selectedItem.position" e-ng-options="s.value as s.text for s in statuses">
        {{ showStatus() }}
      </a>
    </div>
  </div>

  <br/>

</div>

<div class="container-fluid">
  <center>
    <canvas height="500" width="1000" id="overlayCanvas"></canvas>
  </center>
  <br/>
</div>


<div class="container">


  <ui-codemirror id="latex" ui-codemirror-opts="editorOptions" ng-model="latex.code"
                 ng-change="parseLatexCode(); changeAllLabelPosition(); redrawOverlays();"></ui-codemirror>
  <div class="text-center">
    <small>Hint: Copy/remove a line to modify number of overlay boxes.</small>
  </div>

<br/>
  <center>
    <button ng-click="getFullLatex()" class="btn btn-success">Show full LaTeX source code</a>
  </center>

  <br/><br/>

</div>

<canvas ng-hide="1==1" id="offscreenCanvas"></canvas>
